@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

    @await Component.InvokeAsync("HeadPartial")

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        @await Component.InvokeAsync("SpinnerPartial")
        <!-- Spinner End -->

        <!-- Header Start -->
        @await Component.InvokeAsync("NavbarPartial")
        <!-- Header End -->

        <!-- Carousel Start -->
        @await Component.InvokeAsync("SliderPartial")
        <!-- Carousel End -->

        <!-- Booking Start -->
        @await Component.InvokeAsync("BookingPartial")       
        <!-- Booking End -->

        <!-- About Start -->
        @await Component.InvokeAsync("AboutPartial")
        <!-- About End -->

        <!-- Room Start -->
        @await Component.InvokeAsync("RoomsPartial") 
        
        <!-- Room End -->

        <!-- Video Start -->
        @await Component.InvokeAsync("VideoPartial")                       
        <!-- Video Start -->

        <!-- Service Start -->
        @await Component.InvokeAsync("ServicePartial")      
        <!-- Service End -->

        <!-- Testimonial Start -->
        @await Component.InvokeAsync("TestimonialPartial")
        
        
        <!-- Testimonial End -->
        <!-- Team Start -->
        @await Component.InvokeAsync("TeamPartial")                
        <!-- Team End -->

        <!-- Newsletter Start -->
        @await Component.InvokeAsync("NewsletterPartial")
        
        
        <!-- Newsletter Start -->

        <!-- Footer Start -->
        @await Component.InvokeAsync("FooterPartial")
        
        <!-- Footer End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/hotel-html-template/lib/wow/wow.min.js"></script>
    <script src="~/hotel-html-template/lib/easing/easing.min.js"></script>
    <script src="~/hotel-html-template/lib/waypoints/waypoints.min.js"></script>
    <script src="~/hotel-html-template/lib/counterup/counterup.min.js"></script>
    <script src="~/hotel-html-template/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/hotel-html-template/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/hotel-html-template/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/hotel-html-template/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/hotel-html-template/js/main.js"></script>
</body>

</html>
