@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Views/AdminLayout/HeadPartial.cshtml")


<body>


    @await Html.PartialAsync("/Views/AdminLayout/PreLoader.cshtml")

    <div id="main-wrapper">


        @await Html.PartialAsync("/Views/AdminLayout/NavHeaderPartial.cshtml")

        @await Html.PartialAsync("/Views/AdminLayout/HeaderPartial.cshtml")

        @await Html.PartialAsync("/Views/AdminLayout/SideBarPartial.cshtml")

        <div class="content-body">


            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                @RenderBody();
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>

        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
            </div>

        </div>

        <script src="~/adminweb/plugins/common/common.min.js"></script>
        <script src="~/adminweb/js/custom.min.js"></script>
        <script src="~/adminweb/js/settings.js"></script>
        <script src="~/adminweb/js/gleek.js"></script>
        <script src="~/adminweb/js/styleSwitcher.js"></script>

</body>

</html>
